.info-block__data
        h3 дата пребывания в отеле
        form
            input(type="text", placeholder="19 авг - 23 авг")
            .icon-down
                include ../../../../img/icon-down.svg