.info-block__availability
    h3 Доступность
    .checkbox-avail
        input(type='checkbox' name='agreement')
        .title-checkbox-guests
            h3 Широкий коридор
            p Ширина коридоров в номере 
            p не менее 91 см.
    .checkbox-avail
        input(type='checkbox' name='agreement')
        .title-checkbox-guests
            h3 Помощник для инвалидов
            p На 1 этаже вас встретит специалист  
            p и проводит до номера.