.header {
    display: flex;

    margin-bottom: 15px;

    &__logo {
        display: inline-block;

        margin: 0;
        margin-left: 140px;
        margin-top: 15px;
    }

    &__menu{
        padding: 0;
        margin: 0;
        margin-top: 26px;
        margin-left: 285px;

        display: inline-block;
    }

    &__menu-item{
        padding-left: 20px;

        list-style: none; 
        display: inline-block;

        color: $menu_item_color;
        font-style: normal;
        font-weight: normal;
        font-size: $font_size_14;
        line-height: 17px;
    }

    .button {
        display: inline-block;
        font-family: $monserrat_font;
        font-style: normal;
        font-weight: bold;
        font-size: $font_size_12;
        line-height: 15px;
    }

    .button_main {
        display: inline-block;
        width: 87px;
        margin-left: 20px;
        margin-top: 18px;
        padding: 7px 18px 8px 17px;

        border: 2px solid #BC9CFF;
        border-radius: 22px;

        font-family: $monserrat_font;
        font-style: normal;
        font-weight: bold;
        font-size: $font_size_12;
        line-height: 15px;

        color: #BC9CFF;
    }

    .button_alternative {
        display: inline-block;

        margin-top: 18px;
        margin-left: 20px;
        padding: 9px 20px 10px 19px;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;

        font-family: $monserrat_font;
        font-style: normal;
        font-weight: bold;
        font-size: $font_size_12;
        line-height: 15px;

        color: $color_header;
    }
}
