.main
    ul
        li
            span(class=".arrow-left")
                include ../../../img/icon-left-calendar.svg
            span(class="mounth") Август 
            span(class="year") 2019
            span(class=".arrow-right")
                include ../../../img/icon-right-calendar.svg
    .table-mounth
        table
            thead
                tr
                    th Пн
                    th Вт
                    th Ср
                    th Чт
                    th Пт
                    th Сб
                    th Вс
            tbody
                tr
                    td
                    td
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                tr
                    td 6
                    td 7
                    td 8
                    td 9
                    td 10
                    td 11
                    td 12
                tr
                    td 13
                    td 14
                    td 15
                    td 16
                    td 17
                    td 18
                    td 19
                tr
                    td 20
                    td 21
                    td 22
                    td 23
                    td 24
                    td 25
                    td 26
                tr
                    td 27
                    td 28
                    td 29
                    td 30
                    td 31
                    td
                    td
    .clear-apply
        .clear
            h3 очистить
        .apply
            h3 применить