.info-block__price {
    min-width: 266px;

    h3 {
        margin: 0;
        margin-bottom: 23px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }

    span {
        padding-left: 44px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        color: rgba(31, 32, 65, 0.5);
    }

    .runner {
        margin-bottom: 13px;

        min-height: 6px;

        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 3px;
    }

    p {
        margin-bottom: 30px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        color: rgba(31, 32, 65, 0.5);
    }
}