.main-list-numbers
    h1 Номера, которые мы для вас подобрали
    ul(class="list-numbers")
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
        li
            include item-number/item-number.pug
