.info-block__extra-comfort
    h3 дополнительные удобства
    .icon-down
        include ../../../../img/icon-down.svg
    ul
        li
            .comfort-item
                input(type='checkbox' name='agreement')
                span Завтрак
        li
            .comfort-item
                input(type='checkbox' name='agreement')
                span Письменный стол
        li
            .comfort-item
                input(type='checkbox' name='agreement')
                span Стул для кормления
        li
            .comfort-item
                input(type='checkbox' name='agreement')
                span Кроватка
        li
            .comfort-item
                input(type='checkbox' name='agreement')
                span Телевизор
        li
            .comfort-item
                input(type='checkbox' name='agreement')
                span Шампунь
        li
            .comfort-item
                input(type='checkbox' name='agreement')
                span Телевизор
        li
            .comfort-item
                input(type='checkbox' name='agreement')
                span Шампунь