.info-block__checkbox-buttons
    h3 Checkbox Buttons
    .checkbox.checkbox-smoke
        input(type='checkbox' name='agreement')
        p Можно курить
    .checkbox.checkbox-animals
        input(type='checkbox' name='agreement' checked)
        p Можно с питомцами
    .checkbox.checkbox-guests
        input(type='checkbox' name='agreement' checked)
        .title-checkbox-guests
            p Можно пригласить гостей
            p (до 10 человек)