doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        title Rizzoma
    body
        header(class="header")
            div(class="logo")
                include img/logo.svg
            ul(class="header__menu") 
                each val, index in ['O нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
                    li(class="menu__item")= val
            button(class="button-come_in") войти
            button(class="button-registr") зарегистрироваться

        footer(class="footer")

            div(class="footer__foot-logo") 
                include img/logo.svg
                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации "Отельные взгляды"

            mixin list(ul, ...items)  
                ul(class="footer__title-menu")= ul  
                    each item in items
                        li(class="title-menu__item")= item
            +list('НАВИГАЦИЯ', 'O нас', 'Новости', 'Служба поддержки', 'Услуги')
            +list('О НАС', 'O сервисе', 'Наша команда', 'Вакансии', 'Инвесторы')
            +list('СЛУЖБА ПОДДЕРЖКИ', 'Соглашения', 'Сообщества', 'Связь с нами')
            
            div(class="footer__sub") <span class="title-menu">подписка</span>
                p Получайте специальные 
                p предложения и новости сервиса
                form(class="footer__form")
                    input(type="text", class="form__input", placeholder="Email")
                    div(class="send")
                        include img/send.svg

                



        script(src='./main.js')