//      colors
$color_h1: tomato;
$color_header: #FFFFFF;
$main_color: #BC9CFF;
$menu_item_color: rgba(31, 32, 65, 0.5);

//      fonts
$monserrat_font: 'Montserrat', sans-serif;
$font_size_12: 12px;
$font_size_14: 14px;

html {
    font-family: $monserrat_font;
}

body{
    margin: 0;
    background: $color_header;
}

//      header
.header {
    margin-bottom: 50px;

    .logo {
        margin: 0;
        display: inline-block;
    }
    .header__menu{
        padding: 0;
        margin: 0;

        display: inline-block;
    }

    .menu__item{
        padding-left: 20px;

        list-style: none; 
        display: inline-block;

        color: $menu_item_color;
        font-style: normal;
        font-weight: normal;
        font-size: $font_size_14;
        line-height: 17px;
    }

    .button-come_in {
        display: inline-block;

        margin-left: 20px;
        padding: 7px 18px 8px 17px;

        border: 2px solid #BC9CFF;
        border-radius: 22px;

        font-family: $monserrat_font;
        font-style: normal;
        font-weight: bold;
        font-size: $font_size_12;
        line-height: 15px;

        color: #BC9CFF;
    }

    .button-registr {
        display: inline-block;

        margin-left: 20px;
        padding-top: 9px;
        padding-bottom: 10px;
        padding-left: 19px;
        padding-right: 20px;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;

        font-family: $monserrat_font;
        font-style: normal;
        font-weight: bold;
        font-size: $font_size_12;
        line-height: 15px;

        color: $color_header;
    }
}

//      footer
.footer {
    display: flex;
    justify-content: space-around;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        padding-top: 20px;
    }

    .footer__foot-logo{
        width: 260px;
        height: 72px;

        p {
            font-style: normal;
            font-weight: normal;
            font-size: $font_size_14;
            line-height: 24px;
        }
    }

    .footer__title-menu{
        font-style: normal;
        font-weight: bold;
        font-size: $font_size_12;
        line-height: 15px;
        color: #1F2041;
    }

    .title-menu__item{
        list-style: none;
        font-style: normal;
        font-weight: normal;
        font-size: $font_size_14;
        line-height: 17px;
        color: $menu_item_color;
    }

    .footer__sub{

        p {
            padding: 0;

            font-style: normal;
            font-weight: normal;
            font-size: $font_size_14;
            line-height: 24px;
            color: $menu_item_color;
        }

        .footer__form {
            position: relative;

            .form__input {
                padding-left: 15px;

                width: 216px;
                height: 44px;
    
                border: 1px solid rgba(31, 32, 65, 0.25);;
                box-sizing: border-box;
                border-radius: 4px;

            }

            input::placeholder {
                font-family: $monserrat_font;
                font-style: normal;
                font-weight: normal;
                font-size: $font_size_14;
                line-height: 24px;

                color: rgba(31, 32, 65, 0.25);;
            }

            .send {
                display: inline-block;

                position: absolute;
                right: 39px;
                top: 13px;  
            }

        }
    }
}
