$color_h1: tomato;
$color_header: #FFFFFF;
$main_color: #BC9CFF;

body{
    margin: 0;
}

//      header
.header {
    position: relative;
    background: $color_header;

    .logo {
        position: absolute;
        margin-left: 140px;
        margin-top: 15px;
    }
    .header__menu{
        padding: 0;
        margin: 0;
        margin-left: 265px;

        display: inline-block;

        li:nth-child(1){
            margin-left: 285.3px;
        }
    }

    .menu__item{
        padding-top: 26px;
        padding-bottom: 26px;
        margin-left: 20px;

        list-style: none; 
        display: inline-block;

        color: rgba(31, 32, 65, 0.5);
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }

    .button-come_in {
        display: inline-block;

        margin-left: 20px;
        padding-top: 7px;
        padding-bottom: 8px;
        padding-left: 17px;
        padding-right: 18px;

        border: 2px solid #BC9CFF;
        border-radius: 22px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        color: #BC9CFF;
    }

    .button-registr {
        display: inline-block;

        margin-left: 20px;
        padding-top: 9px;
        padding-bottom: 10px;
        padding-left: 19px;
        padding-right: 20px;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        color: $color_header;
    }
}

//      footer
.footer {
    display: flex;
    justify-content: space-around;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        padding-top: 20px;
    }

    .footer__foot-logo{
        width: 260px;
        height: 72px;

        p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
    }

    .title-menu {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }

    .menu__item {
        list-style: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);
    }

    .footer__sub{
        width: 260px;

        p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }

        .footer__form {
            .form__input {
                width: 216px;
                height: 44px;
    
                border: 1px solid rgba(31, 32, 65, 0.25);
                box-sizing: border-box;
                border-radius: 4px;
            }

            input::placeholder {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;

                color: rgba(31, 32, 65, 0.25);
            }
        }
    }
}
