@import 'footer/style';
@import 'header/style';
@import 'content/style';
@import 'content/search-block/style';
@import 'content/search-block/guests-counter/style';
@import 'content/search-block/calendar/style';

//      colors
$color_h1: tomato;
$color_header: #FFFFFF;
$main_color: #BC9CFF;
$menu_item_color: rgba(31, 32, 65, 0.5);

//      fonts
$monserrat_font: 'Montserrat', sans-serif;
$font_size_12: 12px;
$font_size_14: 14px;


html {
    font-family: $monserrat_font;
}

body{
    margin: 0;
    background: $color_header;
}