.guests-counter
    .grown.count
        h3(class="grown-text") взрослые
        .button-count
            div
                button(class="button-counter minus") -
            div(class="count")
                h3 0
            div
                button(class="button-counter plus") +
    .child.count
        h3(class="child-text") дети
        .button-count
            div
                button(class="button-counter minus") -
            div(class="count")
                h3 0
            div
                button(class="button-counter plus") +
    .baby.count
        h3(class="baby-text") младенцы
        .button-count
            div
                button(class="button-counter minus") -
            div(class="count")
                h3 0
            div
                button(class="button-counter plus") +
    .clear-apply
        .clear
            h3 очистить
        .apply
            h3 применить