include ../../header/header.pug
.content-selection
    .info-block
        include left-panel/data/data.pug
        include left-panel/guests/guests.pug
        include left-panel/price/price.pug
        include left-panel/checkbox-buttons/checkbox-buttons.pug
        include left-panel/availability/availability.pug
        include left-panel/comfort/comfort.pug
        include left-panel/extra-comfort/extra-comfort.pug
    include list-numbers/list-numbers.pug
include ../../footer/footer.pug