//      footer
//      colors
$color_h1: tomato;
$color_header: #FFFFFF;
$main_color: #BC9CFF;
$menu_item_color: rgba(31, 32, 65, 0.5);

// //      fonts
$monserrat_font: 'Montserrat', sans-serif;
$font_size_12: 12px;
$font_size_14: 14px;

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 104px;
    padding-bottom: 100px;

    border: 1px solid rgba(31, 32, 65, 0.25);

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        padding-top: 20px;
    }

    &__foot-logo{

        .first_paragraph {
            padding-top: 20px;
        }

        p {
            margin: 0;

            font-style: normal;
            font-weight: normal;
            font-size: $font_size_14;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);  
        }
    }

    &__title-menu{
        font-style: normal;
        font-weight: bold;
        font-size: $font_size_12;
        line-height: 15px;
        color: #1F2041;
    }

    &__menu-item{
        list-style: none;
        font-style: normal;
        font-weight: normal;
        font-size: $font_size_14;
        line-height: 17px;
        color: $menu_item_color;
    }

    &__sub{

        p {
            padding: 0;

            font-style: normal;
            font-weight: normal;
            font-size: $font_size_14;
            line-height: 24px;
            color: $menu_item_color;
        }

        .form {
            position: relative;

            .input {
                padding-left: 15px;

                width: 216px;
                height: 44px;
    
                border: 1px solid rgba(31, 32, 65, 0.25);;
                box-sizing: border-box;
                border-radius: 4px;

            }

            input::placeholder {
                font-family: $monserrat_font;
                font-style: normal;
                font-weight: normal;
                font-size: $font_size_14;
                line-height: 24px;

                color: rgba(31, 32, 65, 0.25);;
            }

            .send {
                display: inline-block;

                position: absolute;
                right: 39px;
                top: 13px;  
            }
        }
    }
}